@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* Base Styles */

:root {
  --main-white: #FFFFFF;
  --main-dusty-rose: #FF9595;
  --main-dark-grey: #32354B;
  --main-light-grey: #C6C6C6;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav, li, a {
  display: inline;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.cover-section{
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.cover-img{
  width:100%;
  height:800px;
  filter:grayscale(100%) brightness(20%) 
}

.cover-title{
  z-index: 1;
  width:80%;
  flex:100px 1 0;
  background-image:linear-gradient(to right, rgb(248, 143, 171), rgb(251, 147, 173) );
  text-align:center;
  margin-top:-500px;
  font-family: sans-serif;
  color:white;
  
  font-size:34px;
  
}

h1{
  transform:scale(2,1)
}

#cover-des{
  z-index: 1;
  flex:100 1 0;
  color:white;
  font-size:34px;
  
}




